<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">My Beer</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        {{#if currentUser}}
        <ul class="nav navbar-nav">
          <li><a href="aabc">Do Stuff</a></li>
        </ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
              <input type="text" name="header-search" id="header-search" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="submit" name="header-search" id="header-search" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </form>
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>
